canvas{
  display:block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#garland {
   position: absolute;
   left: -45px;
   top: 0;
   background: url(../img/106--17-10-24--22-51-24--9t.png);
   background-size: 100%;
   width: 500px;
   height: 250px;
   transform: rotate(-25deg);
}

#garland img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   transition: opacity 1s;
}

body {
  background: radial-gradient(circle at center 261px, rgba(255,255,255,0.95) 9%, rgba(255,255,255,0) 34%), url("../img/desktop-city.jpg") no-repeat center 15%;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  font-style: italic;
  text-align: center;
  margin: 0;
  font-size: 20px;
  color: red;
  font-weight: bold;
  padding: 0 100px;
}
.text_mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
body {
  background-image: radial-gradient(circle at center 229px, rgba(255,255,255,0.95) 9%, rgba(255,255,255,0) 50%), url("../img/desktop-city.jpg");
}
.text {
  font-size: 16px;
}
}
@media screen and (max-width: 768px) {
  body {
    background: radial-gradient(circle at center 75%, rgba(255,255,255,0.95) 5%, rgba(255,255,255,0) 50%), url("../img/mobile-city.jpg") no-repeat center 50%;
    background-size:cover;
  }
  #garland {
     width: 250px;
     height: 120px;
  }
  .text {
    display: none;
  }
  .text_mobile {
    position: absolute;
    top: 75%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    font-style: italic;
    text-align: center;
    margin: 0;
    font-size: 13px;
    color: red;
    font-weight: bold;
    display: block;
    padding: 0 10px;
  }
}
